<h1>アカウント</h1>

<%= form_for @user, url: user_path(@user), method: :patch do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :変更後のパスワード %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :確認用パスワード %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %><br />
    <%= f.password_field :current_password %>
  </div>

  <div class="actions">
    <%= link_to "キャンセル", user_path(current_user), class: "button" %>
    <%= f.submit "保存" %>
  </div>

  <%= link_to 'アカウント', user_path(@user) %>
  <%= link_to 'プロフィール', profile_path %> 
<% end %>
