<div class="main_content">
    <p>Potepan Shareで<br>まだ体験したことのない<br>旅をしよう</p>
</div>

<div class="area_content">
<%= form_with url: search_rooms_path, method: :get, local: true do %>
  <div>
    <%= label_tag :area, 'エリア' %>
    <%= select_tag :area, options_for_select(['', '東京', '大阪', '京都', '札幌'], params[:area]) %>
  </div>

  <div>
    <%= label_tag :query, 'エリア名を入力' %>
    <%= text_field_tag :query, params[:query] %>
  </div>

  <%= submit_tag '検索' %>
<% end %>
</div>

<footer>
    <p>Potepan Share</p>
    <p>Copyright © Potepan Share 2024 All rights reserved</p>
</footer>
