<h1>予約確認ページ</h1>

<p>チェックイン: <%= @reservation.check_in_date.strftime('%Y/%m/%d') %></p>
<p>チェックアウト: <%= @reservation.check_out_date.strftime('%Y/%m/%d') %></p>
<p>日数: <%= (@reservation.check_out_date - @reservation.check_in_date).to_i %>日</p>
<p>人数: <%= @reservation.number_of_guests %>人</p>
<p>お支払い金額: ¥<%= number_with_delimiter(@total_payment_amount.to_i) %></p>
<p>上記内容で正しければ「確定」ボタンを押してください。</p>

<%= form_with url: complete_room_reservation_path(@reservation.room, @reservation), method: :post, local: true do %>
  <%= submit_tag '予約を確定' %>
<% end %>

<%= link_to 'キャンセル', cancel_room_reservation_path(@room, @reservation), method: :post, data: { confirm: '予約をキャンセルしてもよろしいですか？' } %>